#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
.userInfoSection{
  color:black;
  font-weight: bold;
  font-family: cursive;
  background-color: #DFEBFA;
  box-shadow: 3px 8px 12px #707778;
}